.search-page {
  margin-top: 56px !important;
}

.sticky-search {
  position: fixed;
  top: 76px;
  width: 85%;
  z-index: 200;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.7s ease forwards;
}
.sticky-search .searchHotel {
  margin-top: 250px;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
