.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
}
.me-auto a,
.evaluate {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
