.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  transition: background-color 0.3s ease;
}
.me-auto a,
.evaluate {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.feedback,
.account,
.dropdown-toggle::after {
  color: #fff;
}
.nav-link.active {
  font-weight: bold;
  color: #fff !important;
  border-bottom: 2px solid #0d6efd;
}
.header-img {
  width: 150px;
  height: 50px;
}
.nav-link:focus,
.nav-link:hover {
  color: #fff !important;
}
.shadow-sm {
  border-bottom: 1px solid #bfbfbf;
}

//scroll
.header-scrolled .me-auto a,
.evaluate {
  color: #000;
}
.header-scrolled .nav-link:focus,
.header-scrolled .nav-link:hover {
  color: #000000 !important;
}
.header-scrolled .me-auto a,
.evaluate {
  color: #000;
}
.header-scrolled .feedback,
.header-scrolled .account,
.header-scrolled .dropdown-toggle::after {
  color: #000000;
}
.header-scrolled {
  background-color: #fff !important;
}
.header-scrolled .nav-link.active {
  font-weight: bold;
  color: #000 !important;
  border-bottom: 2px solid #0d6efd;
}
.nav-link.active {
  font-weight: bold;
  color: #0d6efd !important; // màu xanh bootstrap
  border-bottom: 2px solid #0d6efd;
}
.user-greeting {
  color: #FFF;
}
.header-scrolled .user-greeting {
  color: #000;
}